:root {
    --verde: #228B22;
    --laranja: #FF914D;
    --branco: #FFF;
    --cinza-claro: #F2F2F2;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cinza-claro);
    margin: 0;
    padding: 0;
}

div#content {
    background-color: var(--cinza-claro);
}

.colecaoTitulo {
    line-height: 25px;
}

.ebooksImg {
    max-height: 176.66px;
}

.product h3 {
    min-height: 45px;
}

.colecaoImgs {
    margin-top: 1rem;
}

.colecaoBnt {
    width: 160px;
    margin-top: 1rem;
}

#colecaoE-books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    border: 2px solid var(--verde);
    border-radius: 16px;
    padding: 1rem;
    background-color: var(--branco);
}

#colecaoE-books p {
    color: var(--laranja);
    font-weight: 700;
}

#colecaoE-books h3 {
    font-size: 2rem;
    color: var(--verde);
    margin: 0 0 .5rem 0;
    font-weight: 700;
}

#colecaoE-books img {
    width: 100px;
    height: 150px;
}

.colecaoE-books {
    display: flex;
    flex-direction: column;
}

#loja {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.category-selection {
    text-align: center;
    background-color: var(--verde);
    padding: 10px;
    border-radius: 5px;
}

.category-selection h2 {
    color: var(--branco);
    margin-bottom: 10px;
}

ul#listaCategoriasProdutos {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul#listaCategoriasProdutos li {
    padding: 5px 15px;
    background-color: var(--laranja);
    color: var(--branco);
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}

ul#listaCategoriasProdutos li:hover {
    background-color: var(--verde);
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    min-height: 330px;
}

.product {
    background-color: var(--branco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 200px;
    text-align: center;
}

.product img, #colecaoE-books img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    color: var(--verde);
    margin-bottom: 10px;
}

.btnSaibaMais {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--laranja);
    color: var(--branco);
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    line-height: 20px;    
}

.btnSaibaMais:hover {
    background-color: var(--verde);
}
